{% extends "base.html" %}

{% block title_block %}
	Создание проекта
{% endblock %}

{% block content %}

	<form action="/project/createproject" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label>Name</label>
			<input required="True" type="text" class="form-control" name="name">
			<br>
			<label>Краткое описание</label>
			<textarea required="True" type="text" class="form-control" name="short_description">
			</textarea>
			<br>
			<label>Description</label>
			<textarea required="True" type="text" class="form-control" name="description">
			</textarea>
			<br>
			<label>Дата окончания проекта</label>
			<input type="date" name="finish_date">
			<br>
			<input type="submit" class="btn btn-primary" value="Создать">
		</div>
	</form>
{% endblock %}
