{% extends "base.html" %}
{% block title_block %}
	{{ species_projects.name }}
{% endblock %}
{% block content%}

<head>
	<style>
		.flex-cont {
		display: flex;
		flex-wrap: wrap;
		}


	</style>
</head>

<div class="container-fluid pages" style="width: 1000px;">

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-8">
					<div class="row ">
						<div class="col-md-8">
							<h3>
								{{ species_projects.name }}
							</h3>
						</div>
						<div class="col-md-4">

							<a href="/{{ species_projects.id }}/create_project_task" class="btn btn-md btn-primary fancybox">Создать задачу</a>
						</div>
					</div>
					<div class="row flex-cont">
						{% for itm in project %}
						<div class="col-md-4">
							<div class="card">
								{% if itm.complete_value == '1' %}
								<h4 class="card-header" style="background: green; color: white;">
									{{ itm.name }}
								</h4>

								{% else %}
								<h4 class="card-header" style="background: blue; color: white; text-size: 15px;">
									{{ itm.name }}
								</h4>
								{% endif %}
								<div class="card-body">
									<p class="card-text">
										{{ itm.description }}
										Ответственный(е):
										{% for items in itm.user.values %}
										{{ items.first_name }}&nbsp{{ items.last_name }}{% if not forloop.last %},{% else %}.{% endif %}
									{% endfor %}
									</p>
								</div>
								<div class="card-footer">
									Тип задачи: {{ itm.species_task }}
									Дата окончание задачи: {{ itm.finish_task }}
									<a href="/{{ itm.id }}/update_project_task">редактировать</a>
									{% if not itm.complete_value == '1' %}
										<a href="/{{ itm.id }}/compete_task">Завершить</a>
									{% endif%}
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-4">
					<ul>
						{% for files in documents %}
						<li class="list-item">
							<a href="/media/{{ files.file }}" target="_blank">{{ files.name }}</a>
						</li>
						{% endfor %}
					</ul>
					<form role="form" method="post" enctype="multipart/form-data">
						<div class="form-group">
							{% csrf_token %}
							{{ form }}
							<p class="help-block">
								Example block-level help text here.
							</p>
						</div>
						<input type="submit" class="btn btn-primary">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}