{% extends "base.html" %}

{% block title_block %}
	Project Main Page
{% endblock %}

{% block content %}
<div class="container">
<a href="project/createproject" class="btn btn-primary">Create project</a>
		<div class="d-flex flex-row">
		
					{% for itm in species_projects%}
				<div class="p-2">
				<div class="card">
						<div class="card-header">
							<h3 class="card-title">{{ itm.name }}</h2>

								<a href="/{{ itm.id }}/pdf" target="_blank"><i class="fas fa-file-pdf"></i></a>
						</div>
						<div class="card-body">
					<p class="card-text">{{ itm.short_description }}</span>
					<br>
					<span class="card-text">Дата окончания проекта: {{ itm.finish_task}}</span>
					<br>
					<a href="project/{{ itm.id }}" class="btn btn-primary" >
						Открыть
					</a>
						</div>
					</div>
					</div>
					{% endfor %}
				
			</div>
		
	</div>
{% endblock %}
