{% extends "base.html" %}

{% block title_block %}
	Project Main Page
{% endblock %}

{% block content %}
<div class="container pages">
<a href="project/createproject" class="btn btn-primary">Create project</a>
		<div class="row flex-cont">
		
					{% for itm in species_projects%}
				<div class="col-md-3">
				<div class="card">
						<div class="card-header">
							<h2 class="card-title">{{ itm.name }}</h2>

								<a href="/{{ itm.id }}/pdf" target="_blank"><i class="fas fa-file-pdf"></i></a>
						</div>
						<div class="card-body">
					<p class="card-text">{{ itm.short_description }}</span>
					<br>
					<span class="card-text">Дата окончания проекта: {{ itm.finish_task}}</span>
					<br>
					<a href="project/{{ itm.id }}" class="btn btn-primary" >
						Открыть
					</a>
						</div>
					{% if itm.progress_value != 0 %}
					<div class="progress">
  							<div class="progress-bar" role="progressbar" style="width: {{ itm.progress_value }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ itm.progress_value}}%</div>
					</div>
						{% else %}
					<div class="progress">
							<div class="progress-bar" role="progressbar" style="color: black; width: 100%; background: white;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="0">В проекте нету выполненых задач</div>
					</div>
						{% endif%}



					</div>
					</div>
					{% endfor %}
				
			</div>
		
	</div>
{% endblock %}
