{% extends "base.html" %}

{% block title_block %}
	Project Main Page
{% endblock %}

{% block content %}
<head>
	<style>
		.flex-cont {
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		margin: 6px 0 0 0;
		}


	</style>
</head>

    <div class="container-fluid pages" style="width: 1000px;">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-9">
					<div class="row flex-cont">
						{% for itm in species_projects%}
						<div class="col-md-4" >
							<div class="card bg-default" style="display:block; border: 1px solid; margin: 0 0 10px 0; padding:5px;">
								<h4 class="card-header">
									{{ itm.name }}
								</h4>
								<div class="card-body" style="min-height: 100px;">
									<p class="card-text" style="min-height: 60px;">
										{{ itm.description|truncatewords:15 }}
									</p>
								</div>
								<div class="card-footer" >
									Дата окончания проекта: <br> {{ itm.finish_task }}

									{% if itm.progress_value != 0 %}
									<div class="progress">
									<div class="progress-bar" role="progressbar" style="width: {{ itm.progress_value }}%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ itm.progress_value}}%
									</div>
									</div>
									{% else %}
									<div class="progress">

										<div class="progress-bar" role="progressbar" style="color: black; width: 100%; background: white;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="0">В проекте нету выполненых задач</div>
									</div>
									{% endif %}
									<center>
									<a href="project/{{ itm.id }}" class="btn btn-primary" style="align: center;">Открыть</a>
									</center>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3">
					{% if perms.projectpage.can_add_species_project %}
					<a type="button" href="project/createproject" class="btn btn-block disabled btn-primary">
						Создать проект
					</a>
					{% endif %}
					<div class="row">
						<div class="col-md-12">
							<br>
							<h4>
								Отчеты по исполнителям:
							</h4>
							<ul>
								{% for itm in user_all %}
									<li><a href="{{ itm.id }}/pdf_user" target="_blank">{{ itm.first_name }} {{ itm.last_name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
