{% extends "base.html" %}


{% block content%}

<div class="container pages">
		<div class="row flex-cont">

				{% for itm in project %}
				<div class="col-md-3">
					<div class="card">
					{% if itm.complete_value == '1' %}
								<h4 class="card-header" style="background: green; color: white;">
									{{ itm.name }}
								</h4>

								{% else %}
								<h4 class="card-header" style="background: blue; color: white; text-size: 15px;">
									{{ itm.name }}
								</h4>
								{% endif %}

					<div card-body>
							{{ itm.description }}
						</span>
						<br>
						<span class="card-text">
							Тип задачи: {{ itm.species_task }}
						</span>
						<br>

						<span class="card-text">
							Ответственный(е):
								{% for items in itm.user.values %}
									{{ items.first_name }}&nbsp{{ items.last_name }}{% if not forloop.last %},{% else %}.{% endif %}
								{% endfor %}
						<br>
						<span class="card-text">Дата окончание задачи:
						{{ itm.finish_task }} </span>

					</div>
				</div>
				</div>
			{% endfor %}

		</div>
</div>
{% endblock %}