{% extends "base.html" %}


{% block content%}

<div class="container pages">
		<div class="row flex-cont">

				{% for itm in project %}
				<a href="task-details/{{ itm.id }}" class="fancybox" style="text-decoration: none;">
				<div class="col-md-3">
					<div class="card my-card-project">
					{% if itm.complete_value == '1' %}
								<h4 class="card-header" style="background: green; color: white;">
									{{ itm.name }}
								</h4>

								{% else %}
								<h4 class="card-header" style="background: blue; color: white; text-size: 15px;">
									{{ itm.name }}
								</h4>
								{% endif %}

					<div card-body>


						<br>
						<span class="card-text">
							Тип задачи: {{ itm.species_task }}
						</span>
						<br>


						<br>
						<span class="card-text">Дата окончание задачи: <br>
						{{ itm.finish_task }} </span>

					</div>
				</div>
				</div>
				</a>
			{% endfor %}

		</div>
</div>
{% endblock %}