{% extends "base.html" %}

{% block title_block %}
	Обновление проекта
{% endblock %}

{% block content %}
	<div class="container pages">

		<form action="" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label>Name</label>
			<input required="True" type="text" class="form-control" name="name" value={{ project_select.nam		e }}>
			<br>
			<label>Description</label>
			<textarea required="True" class="form-control" name="description" id="exampleFormControlTextarea1" rows="3">{{ project_select.description }}</textarea>
			<br>
			<label>Вид задачи</label>
			<select name="species_task" class="form-control" id="exampleFormControlSelect1">{% for itm in task_species %}
				<option value={{ itm.id }}>
					{{ itm.name }}
				</option>
				{% endfor %}
			</select>
			<br>
			<label>Исполнители</label>
			<select name="user_task" class="form-control" id="exampleFormControlSelect2" multiple="multiple">{% for itm in user_list %}>
				<option value={{ itm.id }}>
					{{ itm.first_name }}&nbsp{{ itm.last_name }}
				</option>
				{% endfor %}
			</select>
			<input type="date" name="finish_date">
			<br>
			<input type="submit" class="btn btn-primary" value="Создать">
			</div>


	</form>
		</div>
{% endblock %}